.cs-hero {
    
    .heading {
        padding-bottom: 32px;

        h5 {
            margin-bottom: 8px;
        }
    }

    .detail {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;

        .item {
            width: 50%;
            max-width: 246px;
            margin: 16px auto;

            @media (min-width: 800px) {
                width: max-content;
                margin: auto;
            }

            h5 {
                margin-bottom: 8px;
            }

            a {
                text-decoration: none;
                display: flex;
                align-items: center;
                gap: 16px;
            }
        }
    }
}