@use '../../pages/styles/src/primary';

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo {

        h6 {
            color: primary.$light;
            font-weight: 900;
            font-size: 40px;
            line-height: 140%;
        }
    }

    .navLinks {
        display: flex;
        flex-direction: row;
        gap: 32px;

        a {
            text-decoration: none;
            color: primary.$main;
            line-height: 140%;
            letter-spacing: 1px;
            font-weight: 400;
        }
    }
}