@use '../../../pages/styles/src/secondary';

.folio-item {
    border: 1px solid secondary.$light;
    height: max-content;

    .image{
        display: block;
        width: 100%;
        background: secondary.$light;

        @media (min-width: 800px) {
            height: 269px;
        }
        
        img {
            object-fit: cover;
            object-position: top;

            @media (min-width: 800px) {
                height: 100%;
            }
        }
    }

    .content {
        padding: 24px 16px;
        display: grid;
        row-gap: 24px;

        .title-detail {

            p {
                margin-top: 8px;
            }
        }
    }

    a {
        margin: 16px 40px 16px auto;
        text-decoration: none;
        display: flex;
        align-items: center;
        
        svg {
            margin-left: 8px;
        }
    }
}